
html {
  background: url(montag.jpg) no-repeat center fixed;
  background-size: cover;
}

body {
  color: #990000;
}
h1 {
    color: black;
    text-shadow: 2px 2px 4px #000000;
    font-size: 27px;
}

a {
    color: black;
    font-size: 20px;
    font-family: verdana;
}



body {margin:0}

.icon-bar {
    width: 40px;
    text-align: center;
    background-color:#000;
}

.icon-bar a {
    padding: 5px;
    display: block;
    transition: all 0.3s ease;
    color: white;
    font-size: 17px;
}

.icon-bar a:hover {
    background-color: #555  ;
}

.active {
    background-color: #990000 !important;
}
