ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #b8b894;
    text-align: center ;
}

li a {
    display: block;
    color: #000;
    padding: 2px 6px;
    text-decoration: none;

}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;

}
